<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(banda !== undefined) { %>
      <p>El nombre de la banda es <%= banda.nombre %> y su genero es <%= banda.genero %>.</p>
      <p>Los integrantes son <%= banda.integrantes %> y sus mejores canciones son <%= banda.topCanciones %>.</p>
    <% } else { %>
      <p>No encontramos datos de la banda indicada. Por favor, elija otro id.</p>
    <% } %>
  </body>
</html>