<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/ClaseAsincronica4/proyectoAutosMVC/public/stylesheets/autos.css' />
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>